:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-action: #FFFFFF;
    --color-accent: #2196F3;
    --color-logo: #000000;
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --color-icon: #AFB1B8;
    --background-color-main: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
    --background-color-hover-focus: #188CE8;
    --background-color-icon: rgba(255, 255, 255, 0.1);
    --border-button: none;
    --card-set-gap: 30px;
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}