/* Footer */

.footer {
    background-color: var(--background-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: block;
    text-align: center;

    @media screen and (min-width: $desktop) {
        @include centredFlex(baseline);
        text-align: left;
    }

}

.footer__container-tablet {
        margin-bottom: 60px;
    @media screen and (min-width: $tablet) {
        @include centredFlex(baseline);
        gap: 165px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
        gap: 70px;
    }
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__conteiner-element {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }
}

.footer__contacts-item:not(:last-child){
    margin-bottom: 9px;
}

.footer__socials-title {
    font-size: 14px;
    color: var(--color-action);
    line-height: 1.143;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__socials-list {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__subscription-form {
    @media screen and (min-width: $desktop) {
        margin-left: 93px;
    }
}

