/* Header*/

.header {
    border-bottom: 1px solid #ECECEC;
}


.header__container {
    @media screen and (min-width: $tablet) {
        @include centredFlex();
    }
}

.header__nav {
   
        @include centredFlex();
    
}

.header__site-menu {
    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 93px;
    
        & .header__menu-item+.header__menu-item {
            margin-left: 50px;
        }
    }
    
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header__site-menu {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-left: 88px;
    }
}

.header__menu-link {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    transition: color 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--color-accent);
        }
}



.header__menu-link--current {
    color: var(--color-accent);

    &::after {
        position: absolute;
        content: '';
        background-color: var(--color-accent);
        height: 4px;
        width: 100%;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
    }
}


.header__contacts {
@media screen and (min-width: $tablet) {
    margin-left: auto;
    }

@media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
    }

@media screen and (max-width: 767px) {
    display: none;
}
}




