/* Hero */

.hero {
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--color-action);
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    font-weight: 900;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
}

.hero__button {
    padding: 10px 32px;
}