/* Sections */

.section {
    padding-bottom: 94px;
}

.section__title {
    text-align: center;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 50px;
}