.checkbox {
    display: flex;
    align-items: baseline;
    position: relative;
}

.checkbox__label {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
    margin-bottom: 0;
    position: relative;
    padding-left: 36px;
    cursor: pointer;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.714;
    }
}

.checkbox__input {
    appearance: none;
}

.checkbox__icon {
    fill: transparent;
    border: 0.2px solid var(--color-primary);
    border-radius: 2px;

    position: absolute;
    left: 13px;
    top: 0;

    @media screen and (min-width: $desktop) {
        top: 5px;
    }
    

    transition: fill 250ms var(--primary-cubic-bezier),
        border-color 250ms var(--primary-cubic-bezier);

    .checkbox__input:checked + & {
        fill: var(--background-color-main);
        background-color: var(--color-accent);
        border-color: var(--background-color-main);
    }
}

.checkbox__terms-link {
    color: var(--color-accent);
}

