.contacts__link {
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--color-accent);
    }


    &--header {
        color: var(--color-secondary);
        line-height: 1.175;
        letter-spacing: 0.02em;
        font-weight: 500;

     @media screen and (min-width: $desktop) {
        @include centredFlex();
        gap: 10px;
      }
      
      @media screen and (min-width: $tablet) {
        line-height: 1.167;
        display: flex;
        gap: 8px;
      }

      @media screen and (min-width: $desktop) {
        line-height: 1.143;
      }

    }

    &--footer {
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
    }
    
    &--grey {
      color: var(--color-text-footer);
    }
    
    &--white {
      color: var(--color-action);
    }

  
    
@media screen and (min-width: $tablet) {
  font-size: 12px;
}

@media screen and (min-width: $desktop) {
  font-size: 14px;
}
}

.contacts__icon {
@media screen and (max-width: 767px) {
    display: none;  
}
    fill: currentColor;

  &--envelop {
    @media screen and (min-width: $tablet) {
      width: 14px;
      height: 10px;
    }
  }

  &--smartphone {
    @media screen and (min-width: $tablet) {
      width: 10px;
      height: 14px;
    }
  }
}



