.contacts__link {
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--primary-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--color-accent);
    }

    &--footer {
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
    }
    
    &--grey {
      color: var(--color-text-footer);
    }
    
    &--white {
      color: var(--color-action);
    }

  
    
@media screen and (min-width: $tablet) {
  font-size: 12px;
}

@media screen and (min-width: $desktop) {
  font-size: 14px;
}
}

.contacts__icon {
@media screen and (max-width: 767px) {
    display: none;  
}
    fill: currentColor;

  &--envelop {
    @media screen and (max-width: 1199px) {
      width: 14px;
      height: 10px;
    }
  }

  &--smartphone {
    @media screen and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }
  }
}



