/* Features */

.features {
    padding-top: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__card {
    @media screen and (min-width: $tablet) {
       flex-basis: calc((100% - 30px)/2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 90px)/4);
    }

}

.features__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.143;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features__meta {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.features__icon {
    @include centredFlex();
    background-color: var(--background-color-light);
    height: 120px;
    margin-bottom: 30px;
}

