/* Features */

.features {
    padding-top: 94px;
}

.features__list {
    display: flex;
    gap: 30px;
}

.features__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 10px;
}

.features__meta {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.features__icon {
    @include centredFlex();
    background-color: var(--background-color-light);
    height: 120px;
    margin-bottom: 30px;
}

