/* Logo */

.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;

    &__first-name {
            color: var(--color-accent);
        }
        
    &--black {
            color: var(--color-logo);
        }
    
    &--white {
            color: var(--color-action);
        }
    
}

