/* Team */

.team {
    background-color: var(--background-color-light);
    padding-top: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__item {
    background-color: var(--background-color-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    flex-basis: 450px;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px)/2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 90px)/4);
    }
}

.team__image {
    width: 100%;
}

.team__control {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: $desktop) {
        padding-bottom: 30px;
    }
}

.team__meta {
    text-align: center;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;

    &--name {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &--post {
        color: var(--color-secondary);
        margin-bottom: 16px;
    }
}