/* Team */

.team {
    background-color: var(--background-color-light);
    padding-top: 94px;
}

.team__list {
    display: flex;
}

.team .team__item + .team__item {
    margin-left: 30px;
}

.team__item {
    background-color: var(--background-color-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__image {
    width: 270px;
}

.team__control {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__meta {
    text-align: center;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;

    &--name {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &--post {
        color: var(--color-secondary);
        margin-bottom: 16px;
    }
}